{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}Create Category{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <h2 class="mb-4">
            <i class="fas fa-folder-plus"></i> Create Category
        </h2>
        
        <form method="post">
            {% csrf_token %}
            
            <div class="card">
                <div class="card-body">
                    {{ form.as_p }}
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i> Create Category
                    </button>
                    <a href="{% url 'wiki:category_list' %}" class="btn btn-outline-secondary">
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
